body {
	overflow-x: hidden;
}

header {
	font-size: 50px;
	font-family: fantasy;
	color: #ffffff;
	margin-bottom: 5px;
	padding-right: 30px;
	padding-bottom: 0;
	text-shadow: 0 0 5px #ffeddf;
	background-color: #5b5437;
	
}

.container .nav a {
	font-size: 16px;
	color: white;
	text-shadow: none;
	font-family: Tahoma;
}

#title {
	position: relative;
	left: 70%;
	margin-bottom: 0;
	animation: slide 2s;
}

#address {
	font-size: 18px;
	padding-top: 0;
	position: relative;
	left: 70%;
	animation: slide 2s;
}

img {
	max-width: 100%;
}

#photoalbum {
	text-align: center;
}

.carousel-inner .item .albumImage {
	max-height: 370px;
	display: inline;
}

.content {
	background-color: #eeb771;
}

.contacts {
	margin-bottom: 5px;
	text-align: center;
	font-family: Tahoma;
	font-weight: bold;
}

.contacts img {
	max-height: 30px;
	margin-top: -6px;
	border: 1px solid #b3b3b3;
}

.contacts img:hover {
	box-shadow: 3px 3px 2px black; 
}

.contacts:nth-child(odd) {
	color: #947155;
	margin-top: 10px;
}

.modal-content {
	font-family: Tahoma;
}

.intro {
	background-color: #e9e3e2;
	margin-bottom: 10px;
}

.intro .col-md-6 {
	padding-left: 0;
}

#introduction {
	margin-top: 30px;
}

#introduction p {
	font-size: 18px;
	color: #5b5437;
	font-family: Tahoma;
}

#introduction p:last-child {
	margin-top: 100px;
	background-color: #5b5437;
	color: #ffffff; 
	padding: 10px;
	border-radius: 5px;
	transform: skewX(-2deg);
}

#stylists {
	font-family: Tahoma;
}

#stylists h2 {
	font-weight: bold;
}

#stylists .row {
	background-color: #e9e3e2;
}

#stylists .row p {
	font-size: 18px;
	line-height: 26px;
}

#services {
	margin-bottom: 30px;
	color: #5b5437;
	text-align: center;
}

#service-title {
	font-family: fantasy;
}

#services h6 {
	font-family: Tahoma;
}

#services img:hover {
	box-shadow: 4px 4px 2px black; 
}

#services h3 {
	color: white;
	background-color: #003300;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: Tahoma;
}

#services .col-md-4 img {
	max-height: 210px;
}

#products {
	text-align:center;
	background-color: #fafad2;
	background-image: linear-gradient(to left, white, #ded5d3);
	padding-bottom: 10px;
	font-family: Tahoma;
}

.product {
	text-align:center;
}

.product-image {
	max-width: 120px;
}

#services-menu {
	font-family: Tahoma;
}

#services-menu-content1 {
	background-image: linear-gradient(to right, white, #e9e3e2);
}

#services-menu-content2  .col-sm-4 img {
	border-radius: 150px;
	width: 90%;
	margin-bottom: 20px;
	margin-top: 20px;
}

#services-menu-content2 .col-sm-8 p {
	font-size: 18px;
	margin-top: 150px;
	color: #ffffff;
	background-color: #004d00;
	border-radius: 10px;
	padding: 10px 10px 10px 10px;
	width: 90%;
	float: right;
	box-shadow: -15px -15px 5px 1px rgba(0,0,0,0.75);
	line-height: 26px;
}

#services-menu li {
	font-size: 18px;
	padding: 4px 5px 4px 5px;
	margin-top: 5px;
}

#services-menu h2 {
	font-weight: bold;
}

#directions {
	font-family: Tahoma;
}

#directions h2 {
	font-weight: bold;
}

#directions h4 {
	font-weight: bold;
	line-height: 26px;
}

#appointments {
	min-height: 400px;
	font-family: Tahoma;
	background-image: url(../images/mtnsky.png); 
}

#appointments h2 {
	font-weight: bold;
}

#appointments p {
	font-weight: bold;
	font-size: 16px;
	margin: 20px 10px 10px 10px;
	display: inline-block;
}

#email {
	float: right;
}

#email a {
	color: rgb(51,51,51);
}

#map {
	height: 541px;
}

.foot {
	margin-top: 20px;
	background-color: #003300;
	color: #ffeddf;
	text-align: center;
	padding-top: 5px;
	font-family: Tahoma;
	clear: both;
}

@keyframes slide {
	from {
		left: 0;
	}
	to {
		left: 70%;
	}
}

@media only screen and (max-width:1000px) {
	#title, #address {
		left: 2%;
		animation: none;
	}
	#introduction {
		margin-left: 20px;
	}
	#introduction p:last-child {
	margin-top: 20px;
	}
}

@media only screen and (max-width:768px) {
	#services-menu-content2 .col-sm-8 p {
		margin-top: 0;
		width:100%;
		box-shadow: none;
	}
}

@media only screen and (max-width: 989px) {
	#email {
		float:none;
	}
	.contacts > div {
		margin: 5px;
		padding: 5px;
	}
}
