header {
	font-size: 50px;
	color: white;
	/*height: 80px;*/
	margin-bottom: 5px;
	padding-right: 30px;
	padding-bottom: 0;
	text-shadow: 0 0 5px #ffeddf;
	background-color: #5b5437;
	
}
#title {
	position: relative;
	left: 70%;
	margin-bottom: 0;
	animation: slide 2s;
}

#address {
	font-size: 18px;
	padding-top: 0;
	position: relative;
	left: 70%;
	animation: slide 2s;
}

img {
	max-width: 100%;
}

.content {
	background-color: #eeb771;
}

.contacts {
	margin-bottom: 5px;
}

.contacts span {
	color: #947155;
}

.intro {
	background-color: #fafad2;
	background-image: linear-gradient(to right, white, #dbd1cf);
	margin-bottom: 10px;
}

.intro .col-md-6 {
	padding-left: 0;
}

#introduction {
	margin-top: 10px;
}

#service-title {
	font-family: fantasy;
}

/*#stylists {
	list-style: none;
	margin: 0;
	padding: 0;
}*/

#services {
	margin-bottom: 30px;
	color: #5b5437;
	text-align:center;
}

#services h3 {
	color: white;
	background-color: #003300;
	padding-top: 2px;
	padding-bottom: 2px;
}

#styling {
	margin-top: 10px;
}

#highlighting {
	margin-top: 15px;
}

#products {
	text-align:center;
	background-color: #fafad2;
	background-image: linear-gradient(to left, white, #dbd1cf);
	padding-bottom: 10px;
}

.product {
	text-align:center;
}

.product-image {
	max-width: 120px;
}

#email {
	display: inline;
	float: right;
}

.foot {
	margin-top: 20px;
	background-color: #003300;
	color: #ffeddf;
	text-align: center;
	padding-top: 5px;
}

a:hover {
	color: #000;
	background-color: rgba(255,255,255,.8);
}

@keyframes slide {
	from {
		left: 0;
	}
	to {
		left: 70%;
	}
}